<h1>flight booking</h1>
<%= form_tag("/", method: "get", id: "searchform") do%>
  <%= select_tag(:from, options_for_select(@airports)) %>
  <%= select_tag(:to, options_for_select(@airports)) %>
  <%= select_tag(:passengers, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe) %>
  <%= submit_tag "Search Flights" %>
<% end %>

<div id="flights">
  <%= render "flight_table" %>
</div>